.heading,
.ingredients,
.copy,
.link {
    font-family: Helvetica, Arial, sans-serif;
}

.heading,
.link {
    color: #ffff00;
}

.ingredients,
.copy {
    color: #E0E0E0;
}

ul {
    font-weight: bold;
}

a:visited {
    color: #b1b100;
}